
= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
    = f.input :date, label: "Date"
    = f.association :skillset, order: 'name'
    = f.input :name, label: "What did you do?", input_html: { class: "form-control" }
    = f.input :points, as: :integer, label: "For how many minutes?", input_html: { class: "form-control" }
    %br/
    = f.button :submit
    %br/
    %br/
    = link_to "Cancel", root_path