= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
    = f.input :date, label: "Date"
    = f.input :workout, label: "What did you do?", input_html: { class: "form-control" }
    = f.input :duration, label: "For how many minutes?", input_html: { class: "form-control" }
    %br/
    = f.button :submit
    