%h1 Your Workout

#Workout

%h3= @workout.date 
%h4= @workout.workout
%h4= @workout.duration + " minutes"
%br/
= link_to "Back", root_path 
= link_to "Edit", edit_workout_path(@workout)
= link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Delete for real?"}