%h2= @workout.name

#Workout

%h3 
    Great job with your #{@workout.points} minute 
    %i= @workout.name 
    activity.
%h4 
    You upped your 
    %b= @workout.skillset_id
    game on #{@workout.date.strftime("%A %B %d")}
%br/
%br/
%br/
= link_to "Back", root_path 
= link_to "Edit", edit_workout_path(@workout)
= link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Delete for real?"}
%br/
