%h2= @workout.workout

#Workout

%h3 
    Great job with your #{@workout.duration} minute 
    %i= @workout.workout 
    activity.
%h4 
    You upped your 
    %b= @workout.category 
    game on #{@workout.date.strftime("%A %B %d")}
%br/
%br/
%br/
%br/
.btn-group{:role => "group"}
    = link_to root_path
    %button.btn.btn-info{:style => "text-decoration:none;", :type => "button"} Back
    %button.btn.btn-warning{:style => "color:white;", :type => "button"}= link_to 'Edit', edit_workout_path(@workout)
    %button.btn.btn-danger{:style => "color:white;", :type => "button"}= link_to 'Delete', workout_path(@workout), method: :delete, data: {confirm: "Delete for real?"}
