
= simple_form_for(@skillset, html: { class: 'form-horizontal' }) do |f|
    = f.input :name, label: "What new category do you want to add?", input_html: { class: "form-control" }
    = f.input :group, label: "Is this skill part of a larger group?", input_html: { class: "form-control" }
    %br/
    = f.button :submit
    %br/
    %br/
    = link_to "Cancel", root_path