%h1 Your Skill

#Skillset

%h3= @skillset.name
%h4= @skillset.group
%br/
= link_to "Back", root_path 
= link_to "Edit", edit_skillset_path(@skillset)
= link_to "Delete", skillset_path(@skillset), method: :delete, data: {confirm: "Delete for real?"}