<div class="row">
  <p id="notice"><%= notice %></p>
  <h1>Hello <%= @user.name %>!</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
        <%= gravatar_for @user, size: 150 %>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-7 col-xs-6">
        <p>
          <strong>Username:</strong>
          <%= @user.username %>
        </p>
      
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
      
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>
        <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
    </div>
  </div>
  <div class="row division">
    <h3 align="left">See your workouts here</h3>
    <%= render 'workouts/workout', obj: @user.workouts %>
    <%= render 'workouts/points' %>
  </div>
</div>