!!!
%html
%head
  %title Skill Up Application
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = csrf_meta_tags 
%body
  %nav.navbar.navbar-default
    .container.navbar-container
      .navbar-header
        = link_to "Skill Up Log", root_path, class: "navbar-brand"
      .navbar-header
        = link_to "New Activity", new_workout_path, class: "navbar-brand"
      .navbar-header
        = link_to "New Skillset", new_skillset_path, class: "navbar-brand"

      

%div{:class => "well well-lg col-md-6 center body-container" }

  = yield


